<?xml version="1.0"?>
<robot>

    <gazebo>
      <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
        <odom_frame>world</odom_frame>
        <robot_base_frame>base_link</robot_base_frame>
        <odom_publish_frequency>10.0</odom_publish_frequency>
        <xyz_offset>0 0 0</xyz_offset>
        <rpy_offset>0 0 0</rpy_offset>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find go2_description)/config/ros_control/ros_control.yaml</parameters>
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
      </plugin>
    </gazebo>



    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <topic>imu/data</topic>
            <imu>
            <angular_velocity>
                <x>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </x>
                <y>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </y>
                <z>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </z>
            </angular_velocity>
            <linear_acceleration>
                <x>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </x>
                <y>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </y>
                <z>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </z>
            </linear_acceleration>
            </imu>
            <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
                <initial_orientation_as_reference>false</initial_orientation_as_reference>
            </plugin>
        </sensor>
    </gazebo>

    <!-- <gazebo reference="base_link">
        <turnGravityOff>false</turnGravityOff>
    </gazebo> -->

    <gazebo reference="trunk">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- <gazebo reference="stick_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo> -->

    <!-- <gazebo reference="imu_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo> -->

    <!-- FL leg -->
    <gazebo reference="lf_hip_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>

    </gazebo>
    <gazebo reference="lf_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="lf_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>0</self_collide>
       <sensor name="lf_foot_contact" type="contact">
         <always_on>true</always_on>
         <update_rate>25.0</update_rate>
         <contact>
           <collision>lf_lower_leg_link_fixed_joint_lump__lf_foot_link_collision_1</collision>
         </contact>
         <plugin filename="gz-sim-contact-system" name="gz::sim::systems::Contact" />
       </sensor>
    </gazebo>
    <gazebo reference="lf_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>0</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- FR leg -->
    <gazebo reference="rf_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="rf_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="rf_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <sensor name="rf_foot_contact" type="contact">
        <always_on>true</always_on>
        <update_rate>25.0</update_rate>
        <contact>
          <collision>rf_lower_leg_link_fixed_joint_lump__rf_foot_link_collision_1</collision>
        </contact>
        <plugin filename="gz-sim-contact-system" name="gz::sim::systems::Contact" />
      </sensor>
    </gazebo>
    <gazebo reference="rf_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- RL leg -->
    <gazebo reference="lh_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="lh_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="lh_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
  <sensor name="lh_foot_contact" type="contact">
    <always_on>true</always_on>
    <update_rate>25.0</update_rate>
    <contact>
      <collision>lh_lower_leg_link_fixed_joint_lump__lh_foot_link_collision_1</collision>
    </contact>
    <plugin filename="gz-sim-contact-system" name="gz::sim::systems::Contact" />
  </sensor>
    </gazebo>
    <gazebo reference="lh_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- RR leg -->
    <gazebo reference="rh_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="rh_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="rh_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
       <sensor name="rh_foot_contact" type="contact">
         <always_on>true</always_on>
         <update_rate>25.0</update_rate>
         <contact>
           <collision>rh_lower_leg_link_fixed_joint_lump__rh_foot_link_collision_1</collision>
         </contact>
         <plugin filename="gz-sim-contact-system" name="gz::sim::systems::Contact" />
       </sensor>
    </gazebo>
    <gazebo reference="rh_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
</robot>
